@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Tanha;
  src: url('./fonts/IRANSansWeb\(FaNum\).ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: Tanha;
  line-height: 1.75 !important;
  font-size: 14px !important;
  direction: rtl;
}
button {
  outline: none;
}

@media (max-width: 520px) {
  body {
    font-size: 13px !important;
  }
}

::-webkit-scrollbar {
  width: 1.2vh;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 111, 250);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff2f2;
  border: ridge 0.1vh #b476fb;
  box-shadow: 0px 0px 1px 1px #5914f8 inset, 1px 1px 2px 1px #faf9fb;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #7747c0;
  box-shadow: 0px 0px 1px 1px #d6b9f7, 1px 1px 1px 1px #f9f9fb inset;
}

input {
  background: white;
  outline: none;
  height: 40px;
  padding: 0.12px 1vh;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
input:hover {
  border-color: #c2d1ff;
}
input:focus {
  border-color: #565ffe;
}
.fill-button {
  background-color: #7747c0;
  color: #ffffff;
}
.border-button {
  color: #7747c0;
  border: 1px #7747c0 solid;
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(45vh);
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUpLogout {
  from {
    transform: translateY(30vh);
  }
  to {
    transform: translateY(10vh);
  }
}
.animate-logout {
  animation: slideUpLogout 1s ease-in-out forwards;
}

@keyframes slideUpFilter {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
.animate-filter {
  animation: slideUpFilter 1s ease-in-out forwards;
}
@keyframes modalAnimate {
  from {
    top: 100vh;
  }
  to {
    top: 40vh;
  }
}

.modal-animate {
  animation: modalAnimate 1s ease-in-out forwards;
}
@keyframes right-animate {
  from {
    transform: translateX(120vw);
  }
  to {
    transform: translateX(0vh);
    transform: translateY(10vh);
  }
}
.right-animate {
  animation: right-animate 2s ease-in-out forwards;
}
@keyframes right-side-animate {
  from {
    transform: translateX(120vw);
  }
  to {
    transform: translateX(0vh);
  }
}
.right-side-animate {
  animation: right-side-animate 1s ease-in-out forwards;
}
@keyframes delete-box-animate {
  from {
    transform: translateX(120vw);
  }
  to {
    transform: translate(-10vw, 20vh);
  }
}
.delete-box-animate {
  animation: delete-box-animate 1s ease-in-out forwards;
}

@keyframes hideSubmitAnimate {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes showSubmitAnimate {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showSuccessText {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hideSuccessText {
  0% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes add-new-input-animated {
  10% {
    transform: translateY(30%);
  }
  35% {
    transform: translateY(10%);
  }
  60% {
    transform: translateY(30%);
  }
  90% {
    transform: translateY(-10%);
  }
}
.add-new-input-animated {
  animation: add-new-input-animated 1s ease-in-out forwards;
}

@keyframes error-input-animated {
  10% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(-2deg);
  }
}
.error-input-animated {
  animation: error-input-animated 1s ease-in-out forwards;
}
